<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246245073288-r1ajtqlg0r8grh9gscojif9agpic5dd0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246245073288-r1ajtqlg0r8grh9gscojif9agpic5dd0</string>
	<key>API_KEY</key>
	<string>AIzaSyCX2vJEmzUrUUGF-tMevA8vNgfLdz4RvVI</string>
	<key>GCM_SENDER_ID</key>
	<string>246245073288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.tabTemplate</string>
	<key>PROJECT_ID</key>
	<string>templatechatapp</string>
	<key>STORAGE_BUCKET</key>
	<string>templatechatapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246245073288:ios:2b5161e0c8dc060f571a3d</string>
	<key>DATABASE_URL</key>
	<string>https://templatechatapp.firebaseio.com</string>
</dict>
</plist>